/* Selector universal  */
*{
    padding: 0; /* espacio que se va a llenar */
    margin: 0;
    }
    
    
    /* selector id */
    #contenedor{
        width: 1200px;
        height: 1000px;
            background-color: rgb(175, 192, 207);
            max-width: 0 auto;
    }
    
    #Encabezado{
        height: 15%;
        background-color: rgb(0, 0, 0);
        margin: 1em auto;
        color: aliceblue;
        
    }
    
    #menu{
        height: 5%;
        background-color: darkgrey;
        margin: 1em auto;
    }
    
    #contenido{
    height: 76%;
    width: 60%;
    background-color: cadetblue;
    margin: 0.5em auto;
    float: left;
    }
    
    #fueraSeccion{
    height: 76%;
    width: 36%;
    background-color: chartreuse;
    margin: 0.5em;
    float: right;
    }
    
    #pie{
        height: 2%;
        background-color: darkgrey;
        border-radius: 1em;
        margin: 1.5em;
    }
    
    
    
    /* selector de class */
    
    .texto{
        color: aliceblue;
        text-align: justify;
        font-family: Tohoma;
        font-size: medium;
        margin: auto 2em;
    }
    
    .encabezado_articulo1{
        text-align: center;
        background: #333;
        color: white;
        margin: auto 2em;
    }
    
    .imagenes{
        display: block;
        border: 1px solid #ddd;
        margin: auto;
        border-radius: 4px;
        padding: 5px;
        width: 190px;
    }
    
    /* Selector de etiqueta html */
    ul{
    text-align: center;
    
    }
    
    li{
        display: inline
        text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    }